@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   list-style: none;
   text-decoration: none;
   outline: none;
   user-select: none;
}
a {
   color: inherit;
}
html {
   font-size: 62.5%;
}
:root {
   --primary-color: #800080;
   --milk-color: #F5F3F6;
   --base-color: #F9DBBD;
   --light-primary: #BF80BF;
   --dark-primary: #400040;
   --black-color: #151415;
   --white-color: #FFFFFF;

   /* gradient */
   --button-gradient: linear-gradient(to right, var(--base-color), var(--base-color),var(--primary-color));

   /* transitions */
   --button-transition: all 0.3s ease-in-out;
}
body {
   font-family: "Inter", sans-serif;
}

header {
   height: 100vh;
   background-image:linear-gradient(to bottom, rgba(128, 0, 128, 0.7), rgba(13, 1, 13, 0.8), rgba(11, 0, 11, 0.6)), url(../assets/images/hero-img.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;
   color: var(--milk-color);
   padding: 3% 5%;
}
nav {
   display: flex;
   align-items: center;
   gap: 20%;
   height: 7%;
}
.logo {
   display: flex;
   gap: 20px;
   align-items: center;
}
.logo-img {
   width: 8rem;
}
.logo-img > img {
   width: 100%;
}
.logo > h3 {
   font-weight: 700;
   font-size: 1.5vw;
   font-size: clamp(2rem, 1.5vw, 2.3rem);
   letter-spacing: 0.15rem;
}
.nav-links {
   width: 100%;
   display: flex;
   align-items: center;
   font-size: clamp(1.6rem, 1.3vw, 2rem);
   justify-content: space-between;
}
.nav-links > li {
   padding: 1.1rem 2.1rem;
   border-radius: 0.3rem;
   white-space: nowrap;
   transition: var(--button-transition);
}

.nav-links > li:hover {
   background-color: var(--black-color);
}
.nav-links > li:last-child {
   border: 1px solid var(--base-color);
   font-weight: 700;
   padding: 1rem 2rem;
}
.nav-links > li:last-child:hover {
   background: var(--button-gradient);
   border: none;
   color: var(--black-color);
}

.nav-icons {
   font-size: 4rem;
   display: none;
}


/* Hero section */
.hero {
   height: 75%;
   text-align: center;
   align-items: center;
   margin-top: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.hero > h1 {
   font-size: clamp(4.5rem, 3vw, 5rem);
   font-weight: 700;
}
.hero > h2 {
   font-size: clamp(3rem, 2.5vw, 4rem);
   font-weight: 600;
}
.hero > p {
   font-size: clamp(2.5rem, 2vw, 3rem);
}
.span-light {
   color: var(--base-color);
}
.hero-btn {
   color: var(--black-color);
   font-weight: 800;
   background-color: var(--base-color);
   font-size: 2rem;
   padding: 1.3rem 5rem;
   border-radius: 0.5rem;
   transition: var(--button-transition);
}
.hero-btn:hover {
   background: var(--button-gradient);
   border-radius: 0;
   border: 0.1px solid var(--white-color);
}

/* About section */
.about {
   padding: 4%;
   background-color: var(--milk-color);
}
.backdrop {
   background-color: var(--primary-color);
   width: 100%;
   border-radius: 0.4rem;
   max-height: 620px;
}
.about-flex {
   height: 100%;
   position: relative;
   border-radius: 0.4rem;
   right: 2rem;
   bottom: 2rem;
   background-color: var(--white-color);
   z-index: 1;
   display: flex;
   align-items: flex-start;
}
.about-flex > .why , .about-flex > .why-image{
   flex-basis: 50%;
   
}
.why {
   padding: 3%;
}
.why > div {
   display: flex;
   align-items: center;
   gap: 1rem;
   margin-bottom: 2rem;
}
.why-img {
   width: 5rem;
}
.why-img > img {
   width: 100%;
   object-fit: cover;
   object-position: center;
}
.why  div h3 {
   color: var(--black-color);
   font-weight: 700;
   font-size: 3rem;
}
.why  p {
   color: var(--black-color);
   font-size: clamp(1.8rem, 3vw, 2rem);
   line-height: 3.5rem;
   letter-spacing: 0.1rem;
   font-weight: 500;
}
.why-image > img {
   width: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 0.4rem;
}

.boxes {
   position: absolute;
   bottom: 2%;
   right: 1%;
   left: 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.4rem;
}
.box {
   padding: 1.8rem;
   border-radius: 0.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 800;
   font-size: 3.5rem;
}
.box:first-child {
   color: var(--milk-color);
   background-color: var(--dark-primary);
}
.box:nth-child(2) {
   color: var(--black-color);
   background-color: var(--base-color);
}
.box:last-child {
   background-color: var(--light-primary);
   color: var(--milk-color);
}

/* styles for responsiveness */
@media (max-width: 1230px) {
   header {
      padding: 5% 4%;
   }
   nav {
      gap: 10%;
   }
   .logo-img {
      width: 6rem;
   }
}
@media (max-width: 957px) {
   .nav-icons {
     
      display: initial;
      z-index: 1;
      cursor: pointer;
   }
  
   nav {
      justify-content: space-between;
      gap: 0;
   }
   .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: var(--primary-color);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      transform: translateY(-100%);
      transition: transform 0.5s;
   }
   .nav-links.open {
      transform: none;
   }
   header{
      background-position: 10%, 10%;
   }
   .hero {
      margin-top: 8rem;
   }
}
@media (max-width: 500px) {
   .hero {
      margin-top: 5rem;
      height: 80%;
   }
  
}
@media (max-width: 380px) {
   .hero h1 {
      font-size: 3.5rem;
   }
   .hero h2 {
      font-size: 2.5rem;
   }
   .hero p {
      font-size: 2rem;
   }
}