@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   list-style: none;
   text-decoration: none;
   outline: none;
}
a {
   color: inherit;
}
html {
   font-size: 62.5%;
}
:root {
   --primary-color: #800080;
   --white-color: #F5F3F6;
   --base-color: #F9DBBD;
   --light-primary: #BF80BF;
   --black-color: #151415;

   /* gradient */
   --button-gradient: linear-gradient(to right, var(--base-color), var(--primary-color));

   /* transitions */
   --button-transition: all 0.3s ease-in-out;
}
body {
   font-family: "Inter", sans-serif;
}

header {
   min-height: 100vh;
   background-image:linear-gradient(to bottom, rgba(128, 0, 128, 0.7), rgba(13, 1, 13, 0.8), rgba(11, 0, 11, 0.6)), url(../assets/images/hero-img.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;
   color: var(--white-color);
   padding: 3% 5%;
}
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo {
   display: flex;
   gap: 20px;
   align-items: center;
}
.logo-img {
   width: 80px;
}
.logo-img > img {
   width: 100%;
}
.logo > h3 {
   font-weight: 700;
   font-size: 2.2rem;
   letter-spacing: 0.15rem;
}
.nav-links {
   display: flex;
   align-items: center;
   font-size: 1.6rem;
}
.nav-links > li {
   margin: 0 5rem;
   padding: 1.1rem 2.1rem;
   border-radius: 0.3rem;
   transition: var(--button-transition);
}
.nav-links > li:hover {
   background-color: var(--black-color);
}
.nav-links > li:last-child {
   border: 1px solid var(--base-color);
   font-weight: 700;
   padding: 1rem 2rem;
}
.nav-links > li:last-child:hover {
   background: var(--button-gradient);
   border: none;
   color: var(--black-color);
}

/* Hero section */
.hero {
   text-align: center;
   margin-top: 10rem;
}
.hero > h1 {
   font-size: 4.5rem;
   font-weight: 700;
}
.hero > h2 {
   font-size: 4rem;
   font-weight: 600;
   margin: 6rem 0;
}
.hero > p {
   font-size: 3rem;
   
}
.span-light {
   color: var(--base-color);
}
.hero-btn {
   color: var(--black-color);
   font-weight: 800;
   background-color: var(--base-color);
   font-size: 2rem;
   padding: 1.3rem 5rem;
   margin-top: 5rem;
   border-radius: 0.5rem;
   transition: var(--button-transition);
}
.hero-btn:hover {
   background: var(--button-gradient);
   border-radius: 0;
   border: 0.1px solid var(--white-color);
}