@font-face {
  font-family: "source sans pro";
  src: url(/src/assets/source-sans-pro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "sourcesans";
  src: url(/src/assets/source-sans-pro/SourceSansPro-Light.ttf);
}
.ant-input{
  padding: 5px 0px !important;
  outline: none !important;
}
.ant-input-outlined{
  border: 1px solid rgba(136,33,165, 0.2) !important;
  outline: none !important;
  box-shadow: none !important;
}
.ant-input-outlined:focus{
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}